.container{
    border: 3px solid blue;
    display: grid;
   /*  grid-template-columns: 1fr min-content 6fr 1fr ; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) ;
}

.container-2{
    border: 3px solid blue;
    display: grid;
    margin-top: 50px;
   /*  grid-template-columns: 1fr min-content 6fr 1fr ; */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) ;
}

.item{
    border: 2px solid green;
}